---
const props = Astro.props;
---

<a class="flex group -mx-5 text-2xl font-bold" href=`#${props.id}`><div class="mr-2 group-hover:opacity-100 opacity-0 transition-opacity">#</div><h2 {...props}><slot /></h2></a>
