---
const props = Astro.props;
---

<div class="my-6 overflow-x alignsafe rounded-xl border border-foreground/10 bg-foreground/3 px-4 py-3">
	<pre {...props} class="m-0 overflow-x-auto"><slot /></pre>
</div>
